In [166]:
import pandas as pd

In [167]:
bc = pd.read_csv('BankChurners.csv')

In [168]:
bc.head(10)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.99991
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,0.000045,0.99996
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,0.000303,0.99970

In [169]:
bc.tail(7)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10120,710841183,Existing Customer,54,M,1,High School,Single,$60K - $80K,Blue,34,...,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151,0.000038,0.999960
10121,713899383,Existing Customer,56,F,1,Graduate,Single,Less than $40K,Blue,50,...,3688.0,606,3082.0,0.570,14596,120,0.791,0.164,0.000148,0.999850
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [170]:
bc.dtypes

CLIENTNUM                                                                                                                               int64
Attrition_Flag                                                                                                                         object
Customer_Age                                                                                                                            int64
Gender                                                                                                                                 object
Dependent_count                                                                                                                         int64
Education_Level                                                                                                                        object
Marital_Status                                                                                                                         object
Income_Category                                                                                                                        object
Card_Category                                                                                                                          object
Months_on_book                                                                                                                          int64
Total_Relationship_Count                                                                                                                int64
Months_Inactive_12_mon                                                                                                                  int64
Contacts_Count_12_mon                                                                                                                   int64
Credit_Limit                                                                                                                          float64
Total_Revolving_Bal                                                                                                                     int64
Avg_Open_To_Buy                                                                                                                       float64
Total_Amt_Chng_Q4_Q1                                                                                                                  float64
Total_Trans_Amt                                                                                                                         int64
Total_Trans_Ct                                                                                                                          int64
Total_Ct_Chng_Q4_Q1                                                                                                                   float64
Avg_Utilization_Ratio                                                                                                                 float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    float64
dtype: object

In [171]:
bc = pd.read_csv('BankChurners.csv', index_col='Income_Category')

In [172]:
bc.rename(columns = {"CLIENTNUM": "Client_Number", "Customer_Age": "Age", "Income_Category": "Income"})

,Client_Number,Attrition_Flag,Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Income_Category,,,,,,,,,,,,,,,,,,,,,
$60K - $80K,768805383,Existing Customer,45,M,3,High School,Married,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
Less than $40K,818770008,Existing Customer,49,F,5,Graduate,Single,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
$80K - $120K,713982108,Existing Customer,51,M,3,Graduate,Married,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
Less than $40K,769911858,Existing Customer,40,F,4,High School,Unknown,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
$60K - $80K,709106358,Existing Customer,40,M,3,Uneducated,Married,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
$40K - $60K,772366833,Existing Customer,50,M,2,Graduate,Single,Blue,40,3,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
$40K - $60K,710638233,Attrited Customer,41,M,2,Unknown,Divorced,Blue,25,4,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
Less than $40K,716506083,Attrited Customer,44,F,1,High School,Married,Blue,36,5,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
$40K - $60K,717406983,Attrited Customer,30,M,2,Graduate,Unknown,Blue,36,4,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
Less than $40K,714337233,Attrited Customer,43,F,2,Graduate,Married,Silver,25,6,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [173]:
bc_education_category = bc[["CLIENTNUM", "Education_Level", "Card_Category"]]
bc_education_category

                 CLIENTNUM Education_Level Card_Category
Income_Category
$60K - $80K      768805383     High School          Blue
Less than $40K   818770008        Graduate          Blue
$80K - $120K     713982108        Graduate          Blue
Less than $40K   769911858     High School          Blue
$60K - $80K      709106358      Uneducated          Blue
...                    ...             ...           ...
$40K - $60K      772366833        Graduate          Blue
$40K - $60K      710638233         Unknown          Blue
Less than $40K   716506083     High School          Blue
$40K - $60K      717406983        Graduate          Blue
Less than $40K   714337233        Graduate        Silver

[10127 rows x 3 columns]

In [174]:
bc[bc["Marital_Status"] == "Married"]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Income_Category,,,,,,,,,,,,,,,,,,,,,
$60K - $80K,768805383,Existing Customer,45,M,3,High School,Married,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
$80K - $120K,713982108,Existing Customer,51,M,3,Graduate,Married,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
$60K - $80K,709106358,Existing Customer,40,M,3,Uneducated,Married,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
$40K - $60K,713061558,Existing Customer,44,M,2,Graduate,Married,Blue,36,3,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.999940
$120K +,810347208,Existing Customer,51,M,4,Unknown,Married,Gold,46,6,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
$120K +,708564858,Attrited Customer,33,M,2,College,Married,Gold,20,2,...,34516.0,0,34516.0,1.004,9338,73,0.622,0.000,0.994380,0.005620
Less than $40K,720841533,Existing Customer,29,M,0,Graduate,Married,Blue,15,3,...,4700.0,0,4700.0,0.617,14723,96,0.655,0.000,0.000235,0.999770
$80K - $120K,712503408,Existing Customer,57,M,2,Graduate,Married,Blue,40,6,...,17925.0,1909,16016.0,0.712,17498,111,0.820,0.106,0.000516,0.999480
Less than $40K,716506083,Attrited Customer,44,F,1,High School,Married,Blue,36,5,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
Less than $40K,714337233,Attrited Customer,43,F,2,Graduate,Married,Silver,25,6,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [175]:
bc[(bc["Card_Category"] == "Blue") & (bc["Marital_Status"] == "Married") & (bc["Months_on_book"]>40)]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Income_Category,,,,,,,,,,,,,,,,,,,,,
$40K - $60K,710821833,Existing Customer,65,M,1,Unknown,Married,Blue,54,6,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,0.000198,0.999800
Less than $40K,712396908,Existing Customer,57,F,2,Graduate,Married,Blue,48,5,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.999890
$40K - $60K,806160108,Existing Customer,61,M,1,High School,Married,Blue,56,2,...,3193.0,2517,676.0,1.831,1336,30,1.143,0.788,0.000175,0.999830
Less than $40K,708508758,Attrited Customer,62,F,0,Graduate,Married,Blue,49,2,...,1438.3,0,1438.3,1.047,692,16,0.600,0.000,0.996160,0.003836
$80K - $120K,789124683,Existing Customer,54,M,2,Unknown,Married,Blue,42,4,...,12217.0,0,12217.0,1.075,1110,21,0.750,0.000,0.000210,0.999790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
$120K +,789398733,Existing Customer,56,M,3,Graduate,Married,Blue,46,3,...,5270.0,779,4491.0,0.731,16179,105,0.694,0.148,0.000187,0.999810
$60K - $80K,767348733,Existing Customer,56,M,2,Unknown,Married,Blue,49,3,...,4058.0,793,3265.0,0.758,15865,105,0.667,0.195,0.000333,0.999670
$40K - $60K,719900733,Existing Customer,60,M,1,High School,Married,Blue,47,3,...,9805.0,1007,8798.0,0.800,14641,95,0.900,0.103,0.000085,0.999920
$80K - $120K,827440458,Attrited Customer,48,M,4,College,Married,Blue,44,2,...,9524.0,1449,8075.0,0.559,7527,58,0.657,0.152,0.996770,0.003231
Less than $40K,709646433,Attrited Customer,59,F,1,High School,Married,Blue,50,1,...,5043.0,743,4300.0,0.805,10170,66,0.784,0.147,0.997010,0.002988

In [176]:
bc[bc["Card_Category"].isin(["Silver", "Gold"])]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Income_Category,,,,,,,,,,,,,,,,,,,,,
$120K +,810347208,Existing Customer,51,M,4,Unknown,Married,Gold,46,6,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880
$60K - $80K,818906208,Existing Customer,32,M,0,High School,Unknown,Silver,27,2,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.999910
Less than $40K,785432733,Existing Customer,42,F,4,High School,Married,Gold,36,2,...,15433.0,0,15433.0,0.865,966,22,1.200,0.000,0.000355,0.999640
$40K - $60K,773146383,Existing Customer,50,F,1,College,Single,Silver,43,3,...,17304.0,2517,14787.0,1.449,1756,33,1.200,0.145,0.000158,0.999840
$60K - $80K,712030833,Attrited Customer,48,M,2,Graduate,Married,Silver,35,2,...,34516.0,0,34516.0,0.763,691,15,0.500,0.000,0.998230,0.001771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
$60K - $80K,719848008,Existing Customer,39,M,2,Graduate,Unknown,Silver,36,4,...,29808.0,0,29808.0,0.669,16098,128,0.684,0.000,0.000103,0.999900
$60K - $80K,715474083,Existing Customer,51,M,3,Graduate,Single,Silver,36,3,...,29663.0,1743,27920.0,0.667,14638,93,0.722,0.059,0.000107,0.999890
$80K - $120K,718225683,Existing Customer,56,M,1,Graduate,Single,Silver,49,5,...,34516.0,1091,33425.0,0.640,15274,108,0.714,0.032,0.000097,0.999900
$120K +,708564858,Attrited Customer,33,M,2,College,Married,Gold,20,2,...,34516.0,0,34516.0,1.004,9338,73,0.622,0.000,0.994380,0.005620
Less than $40K,714337233,Attrited Customer,43,F,2,Graduate,Married,Silver,25,6,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [177]:
bc.loc[bc["Customer_Age"]>=35, "CLIENTNUM"]

Income_Category
$60K - $80K       768805383
Less than $40K    818770008
$80K - $120K      713982108
Less than $40K    769911858
$60K - $80K       709106358
                    ...
Less than $40K    713899383
$40K - $60K       772366833
$40K - $60K       710638233
Less than $40K    716506083
Less than $40K    714337233
Name: CLIENTNUM, Length: 9392, dtype: int64

In [178]:
bc.loc[bc["Marital_Status"]=="Single", "Gender"]

Income_Category
Less than $40K    F
$60K - $80K       M
$80K - $120K      M
$80K - $120K      M
$80K - $120K      M
                 ..
$80K - $120K      M
Unknown           F
$60K - $80K       M
Less than $40K    F
$40K - $60K       M
Name: Gender, Length: 3943, dtype: object

In [179]:
bc.iloc[0:10, 1:3]

                    Attrition_Flag  Customer_Age
Income_Category
$60K - $80K      Existing Customer            45
Less than $40K   Existing Customer            49
$80K - $120K     Existing Customer            51
Less than $40K   Existing Customer            40
$60K - $80K      Existing Customer            40
$40K - $60K      Existing Customer            44
$120K +          Existing Customer            51
$60K - $80K      Existing Customer            32
$60K - $80K      Existing Customer            37
$80K - $120K     Existing Customer            48

In [180]:
bc.iloc[0:3, 15:-2]

,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
Income_Category,,,,,
$60K - $80K,1.335,1144,42,1.625,0.061
Less than $40K,1.541,1291,33,3.714,0.105
$80K - $120K,2.594,1887,20,2.333,0.000

In [181]:
bc["Months_Active_12_mon"] = (bc["Total_Relationship_Count"] - bc["Months_Inactive_12_mon"])

In [182]:
bc.insert(
    loc = 13, 
    column = "Months_on_book - Total_Relationship_Count", 
    value = (bc["Months_on_book"] - bc["Total_Relationship_Count"])
)

In [183]:
sbc = pd.Series(
    data = ['Less than $40K', "Existing Customer",49,"F",5,"Graduate","Single", "Blue",44,6,1,2,8256,864,7392,1.541,1291,33,3.714,0.105,5.6861e-05,0.99994, None, None], 
    index = bc.columns, 
    name = 99999999
)

In [184]:
bc = pd.read_csv('BankChurners.csv', index_col='CLIENTNUM')

In [185]:
bc = bc.append(sbc)

C:\Users\Kate\AppData\Local\Temp\ipykernel_512\1765828397.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  bc = bc.append(sbc)

In [186]:
bc.tail(5)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,CLIENTNUM,Months_Active_12_mon,Months_on_book - Total_Relationship_Count
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,...,0.804,8764,69.000,0.683,0.511000,0.99527,0.004729,NaN,NaN,NaN
716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,...,0.819,10291,60.000,0.818,0.000000,0.99788,0.002118,NaN,NaN,NaN
717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,...,0.535,8395,62.000,0.722,0.000000,0.99671,0.003294,NaN,NaN,NaN
714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,...,0.703,10294,61.000,0.649,0.189000,0.99662,0.003377,NaN,NaN,NaN
99999999,Existing Customer,49,F,5,Graduate,Single,NaN,Blue,44,6,...,1291.000,33,3.714,0.105,0.000057,0.99994,None,Less than $40K,None,864.0

In [187]:
bc.to_csv('BankChurners.csv')

In [188]:
del bc["Months_Active_12_mon"]

In [189]:
del bc["Months_on_book - Total_Relationship_Count"]

In [190]:
bc = pd.read_csv('BankChurners.csv', index_col='CLIENTNUM')

In [191]:
bc.drop(labels = 99999999)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,CLIENTNUM.1,Months_Active_12_mon,Months_on_book - Total_Relationship_Count
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,1.335,1144,42.0,1.625,0.061,0.000093,0.999910,NaN,NaN,NaN
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,1.541,1291,33.0,3.714,0.105,0.000057,0.999940,NaN,NaN,NaN
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,2.594,1887,20.0,2.333,0.000,0.000021,0.999980,NaN,NaN,NaN
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,1.405,1171,20.0,2.333,0.760,0.000134,0.999870,NaN,NaN,NaN
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,2.175,816,28.0,2.500,0.000,0.000022,0.999980,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,...,0.703,15476,117.0,0.857,0.462,0.000191,0.999810,NaN,NaN,NaN
710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,...,0.804,8764,69.0,0.683,0.511,0.995270,0.004729,NaN,NaN,NaN
716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,...,0.819,10291,60.0,0.818,0.000,0.997880,0.002118,NaN,NaN,NaN
717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,...,0.535,8395,62.0,0.722,0.000,0.996710,0.003294,NaN,NaN,NaN
714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,...,0.703,10294,61.0,0.649,0.189,0.996620,0.003377,NaN,NaN,NaN